In [4]:
import pandas as pd

In [6]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [7]:
print(type(data))
data

<class 'pandas.core.frame.DataFrame'>

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

# ACCESSING THE DATA

In [8]:
df = data # this is not copling but makeing an referenfce copying mean change in any one will impact the other

In [9]:
df = data.copy() # it is different from other beacuse here df is copy of the data

In [10]:
df.head()  # give you an brif idea of the data like some rows of the data

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [11]:
# here with above data problem is that there is not proper heading or title for the colounms and 1st row use as heading

In [12]:
print(df.shape) # tell the shape
print(df.dtypes) # tell us type of eacch colunmsd

(149, 5)
5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [13]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [14]:
df.columns = ['sl', 'sw', 'pl','pw','name']

In [15]:
print(df.shape) 
print(df.dtypes) 
df.head()

(149, 5)
sl      float64
sw      float64
pl      float64
pw      float64
name     object
dtype: object

    sl   sw   pl   pw         name
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [16]:
df.describe() # give the desciptiona and details for data
# this use a lot

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

IN above table if count no are less then from other or size it mean that there shude be any null value that we have to remove so

In [17]:
df.sl  # by this way you can directy asscess the colmns directy

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [18]:
df['sl'] # by this way also

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [19]:
df.isnull()

        sl     sw     pl     pw   name
0    False  False  False  False  False
1    False  False  False  False  False
2    False  False  False  False  False
3    False  False  False  False  False
4    False  False  False  False  False
..     ...    ...    ...    ...    ...
144  False  False  False  False  False
145  False  False  False  False  False
146  False  False  False  False  False
147  False  False  False  False  False
148  False  False  False  False  False

[149 rows x 5 columns]

In [20]:
df.isnull().sum() # give null value in the data

sl      0
sw      0
pl      0
pw      0
name    0
dtype: int64

In [21]:
df.iloc[:,1:3]  #iloc use for the slicing

      sw   pl
0    3.0  1.4
1    3.2  1.3
2    3.1  1.5
3    3.6  1.4
4    3.9  1.7
..   ...  ...
144  3.0  5.2
145  2.5  5.0
146  3.0  5.2
147  3.4  5.4
148  3.0  5.1

[149 rows x 2 columns]

In [22]:
import numpy as np

In [23]:
df.iloc[1]  # guve the about the st row

sl              4.7
sw              3.2
pl              1.3
pw              0.2
name    Iris-setosa
Name: 1, dtype: object

In [24]:
arr=np.array(df)

In [25]:
arr

array([[4.9, 3.0, 1.4, 0.2, 'Iris-setosa'],
       [4.7, 3.2, 1.3, 0.2, 'Iris-setosa'],
       [4.6, 3.1, 1.5, 0.2, 'Iris-setosa'],
       [5.0, 3.6, 1.4, 0.2, 'Iris-setosa'],
       [5.4, 3.9, 1.7, 0.4, 'Iris-setosa'],
       [4.6, 3.4, 1.4, 0.3, 'Iris-setosa'],
       [5.0, 3.4, 1.5, 0.2, 'Iris-setosa'],
       [4.4, 2.9, 1.4, 0.2, 'Iris-setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Iris-setosa'],
       [5.4, 3.7, 1.5, 0.2, 'Iris-setosa'],
       [4.8, 3.4, 1.6, 0.2, 'Iris-setosa'],
       [4.8, 3.0, 1.4, 0.1, 'Iris-setosa'],
       [4.3, 3.0, 1.1, 0.1, 'Iris-setosa'],
       [5.8, 4.0, 1.2, 0.2, 'Iris-setosa'],
       [5.7, 4.4, 1.5, 0.4, 'Iris-setosa'],
       [5.4, 3.9, 1.3, 0.4, 'Iris-setosa'],
       [5.1, 3.5, 1.4, 0.3, 'Iris-setosa'],
       [5.7, 3.8, 1.7, 0.3, 'Iris-setosa'],
       [5.1, 3.8, 1.5, 0.3, 'Iris-setosa'],
       [5.4, 3.4, 1.7, 0.2, 'Iris-setosa'],
       [5.1, 3.7, 1.5, 0.4, 'Iris-setosa'],
       [4.6, 3.6, 1.0, 0.2, 'Iris-setosa'],
       [5.1, 3.3, 1.7, 0.5, 'Iris-setosa'],
       [4.8, 3.4, 1.9, 0.2, 'Iris-setosa'],
       [5.0, 3.0, 1.6, 0.2, 'Iris-setosa'],
       [5.0, 3.4, 1.6, 0.4, 'Iris-setosa'],
       [5.2, 3.5, 1.5, 0.2, 'Iris-setosa'],
       [5.2, 3.4, 1.4, 0.2, 'Iris-setosa'],
       [4.7, 3.2, 1.6, 0.2, 'Iris-setosa'],
       [4.8, 3.1, 1.6, 0.2, 'Iris-setosa'],
       [5.4, 3.4, 1.5, 0.4, 'Iris-setosa'],
       [5.2, 4.1, 1.5, 0.1, 'Iris-setosa'],
       [5.5, 4.2, 1.4, 0.2, 'Iris-setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Iris-setosa'],
       [5.0, 3.2, 1.2, 0.2, 'Iris-setosa'],
       [5.5, 3.5, 1.3, 0.2, 'Iris-setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Iris-setosa'],
       [4.4, 3.0, 1.3, 0.2, 'Iris-setosa'],
       [5.1, 3.4, 1.5, 0.2, 'Iris-setosa'],
       [5.0, 3.5, 1.3, 0.3, 'Iris-setosa'],
       [4.5, 2.3, 1.3, 0.3, 'Iris-setosa'],
       [4.4, 3.2, 1.3, 0.2, 'Iris-setosa'],
       [5.0, 3.5, 1.6, 0.6, 'Iris-setosa'],
       [5.1, 3.8, 1.9, 0.4, 'Iris-setosa'],
       [4.8, 3.0, 1.4, 0.3, 'Iris-setosa'],
       [5.1, 3.8, 1.6, 0.2, 'Iris-setosa'],
       [4.6, 3.2, 1.4, 0.2, 'Iris-setosa'],
       [5.3, 3.7, 1.5, 0.2, 'Iris-setosa'],
       [5.0, 3.3, 1.4, 0.2, 'Iris-setosa'],
       [7.0, 3.2, 4.7, 1.4, 'Iris-versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'Iris-versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'Iris-versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'Iris-versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'Iris-versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'Iris-versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'Iris-versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'Iris-versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'Iris-versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'Iris-versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'Iris-versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'Iris-versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'Iris-versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'Iris-versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'Iris-versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'Iris-versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'Iris-versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'Iris-versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'Iris-versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'Iris-versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'Iris-versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'Iris-versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'Iris-versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'Iris-versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'Iris-versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'Iris-versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'Iris-versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'Iris-versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'Iris-versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'Iris-versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'Iris-versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'Iris-versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'Iris-versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'Iris-versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'Iris-versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'Iris-versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'Iris-versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'Iris-versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'Iris-versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'Iris-versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'Iris-versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'Iris-versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'Iris-versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'Iris-versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'Iris-versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'Iris-versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'Iris-versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'Iris-versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'Iris-versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'Iris-versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'Iris-virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Iris-virginica'],
       [7.1, 3.0, 5.9, 2.1, 'Iris-virginica'],
       [6.3, 2.9, 5.6, 1.8, 'Iris-virginica'],
       [6.5, 3.0, 5.8, 2.2, 'Iris-virginica'],
       [7.6, 3.0, 6.6, 2.1, 'Iris-virginica'],
       [4.9, 2.5, 4.5, 1.7, 'Iris-virginica'],
       [7.3, 2.9, 6.3, 1.8, 'Iris-virginica'],
       [6.7, 2.5, 5.8, 1.8, 'Iris-virginica'],
       [7.2, 3.6, 6.1, 2.5, 'Iris-virginica'],
       [6.5, 3.2, 5.1, 2.0, 'Iris-virginica'],
       [6.4, 2.7, 5.3, 1.9, 'Iris-virginica'],
       [6.8, 3.0, 5.5, 2.1, 'Iris-virginica'],
       [5.7, 2.5, 5.0, 2.0, 'Iris-virginica'],
       [5.8, 2.8, 5.1, 2.4, 'Iris-virginica'],
       [6.4, 3.2, 5.3, 2.3, 'Iris-virginica'],
       [6.5, 3.0, 5.5, 1.8, 'Iris-virginica'],
       [7.7, 3.8, 6.7, 2.2, 'Iris-virginica'],
       [7.7, 2.6, 6.9, 2.3, 'Iris-virginica'],
       [6.0, 2.2, 5.0, 1.5, 'Iris-virginica'],
       [6.9, 3.2, 5.7, 2.3, 'Iris-virginica'],
       [5.6, 2.8, 4.9, 2.0, 'Iris-virginica'],
       [7.7, 2.8, 6.7, 2.0, 'Iris-virginica'],
       [6.3, 2.7, 4.9, 1.8, 'Iris-virginica'],
       [6.7, 3.3, 5.7, 2.1, 'Iris-virginica'],
       [7.2, 3.2, 6.0, 1.8, 'Iris-virginica'],
       [6.2, 2.8, 4.8, 1.8, 'Iris-virginica'],
       [6.1, 3.0, 4.9, 1.8, 'Iris-virginica'],
       [6.4, 2.8, 5.6, 2.1, 'Iris-virginica'],
       [7.2, 3.0, 5.8, 1.6, 'Iris-virginica'],
       [7.4, 2.8, 6.1, 1.9, 'Iris-virginica'],
       [7.9, 3.8, 6.4, 2.0, 'Iris-virginica'],
       [6.4, 2.8, 5.6, 2.2, 'Iris-virginica'],
       [6.3, 2.8, 5.1, 1.5, 'Iris-virginica'],
       [6.1, 2.6, 5.6, 1.4, 'Iris-virginica'],
       [7.7, 3.0, 6.1, 2.3, 'Iris-virginica'],
       [6.3, 3.4, 5.6, 2.4, 'Iris-virginica'],
       [6.4, 3.1, 5.5, 1.8, 'Iris-virginica'],
       [6.0, 3.0, 4.8, 1.8, 'Iris-virginica'],
       [6.9, 3.1, 5.4, 2.1, 'Iris-virginica'],
       [6.7, 3.1, 5.6, 2.4, 'Iris-virginica'],
       [6.9, 3.1, 5.1, 2.3, 'Iris-virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Iris-virginica'],
       [6.8, 3.2, 5.9, 2.3, 'Iris-virginica'],
       [6.7, 3.3, 5.7, 2.5, 'Iris-virginica'],
       [6.7, 3.0, 5.2, 2.3, 'Iris-virginica'],
       [6.3, 2.5, 5.0, 1.9, 'Iris-virginica'],
       [6.5, 3.0, 5.2, 2.0, 'Iris-virginica'],
       [6.2, 3.4, 5.4, 2.3, 'Iris-virginica'],
       [5.9, 3.0, 5.1, 1.8, 'Iris-virginica']], dtype=object)

In [26]:
arr[0][4]

'Iris-setosa'

In [27]:
df

      sl   sw   pl   pw            name
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [28]:
df.drop(0)   # here it not get drop from df bt returning the copy 
df.head()

    sl   sw   pl   pw         name
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [29]:
a=df.drop(0)
a.head()

    sl   sw   pl   pw         name
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [30]:
df.head()

    sl   sw   pl   pw         name
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [31]:
a=a.drop(0) # wil give an error beacuse now 0 in not there in start 
a.head()

KeyError: '[0] not found in axis'

In [ ]:
df.drop(1, inplace =True)  # now changes in df happen
df.head()

drop funaction take labels not postion main differenece is that val at st colounm is label and postion is rank of the row 
eg 2,4,5,6 here 2,4,5,6 are label and postions asr 0,1,2,3..

In [ ]:
# let see delete by postion
a= df.drop(df.index[3:]) # delete all after 3

In [ ]:
a.head()

In [ ]:
a= df.drop(df.index[0:3])
a.head()

In [ ]:
df.sl > 5

In [ ]:
df.head()
import math

In [ ]:
df.sl[0] > 2

In [ ]:
a = df[df.name == 'Iris-setosa']
len(a)

In [ ]:
a.describe()

In [ ]:
df.head()

In [ ]:
df.drop(0, inplace=True)
df.head()

In [ ]:
import pandas as pd
q = pd.read_csv('https://files.codingninjas.in/iris-8116.csv?_ga=2.122816971.1943583819.1678290605-1777506293.1673423757')
c = q[q.variety == 'Iris-virginica']
c.columns = ['sl', 'sw', 'pl','pw','name']
c =c[c.pl >1.5]
print(c)
c=c.values
for row in c:
    print(*row)

In [ ]:
print(df.iloc[1])

In [ ]:
print(df.loc[1])

loc use label as argument and iloc use postion

In [ ]:
df.head()

In [ ]:
#adding an new row
df.loc[0] = [1,2,3,4,'Add']

In [ ]:
df.tail()

In [ ]:
df.iloc[0] = [11,2,3,4,'Add-pos']

In [ ]:
df.head()

In [ ]:
df.tail()

#Question


Count of Flower


Problem Statement

Find and print count of each kind of flower (separated by space)?

Note: Get the dataset from here

Print the count as Integer Value.

Output Format

count1 count2 count3 ...

In [ ]:
q = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')

In [32]:
q.head()

NameError: name 'q' is not defined

In [33]:
q.variety.unique()

NameError: name 'q' is not defined

In [34]:
a = q[q.variety == 'Setosa']
a.head()

NameError: name 'q' is not defined

In [35]:
b = q[q.variety == 'Versicolor']
b.head()

NameError: name 'q' is not defined

In [36]:
c = q[q.variety == 'Virginica']
c.head()

NameError: name 'q' is not defined

In [37]:
a = q[q.variety == 'Setosa']
b = q[q.variety == 'Versicolor']
c = q[q.variety == 'Virginica']
print(len(a),len(b),len(c))

NameError: name 'q' is not defined

Q2



Iris Virginica


Problem Statement
Find the data of flower “Iris-virginica” type where petal-length > 1.5

Note: Get the dataset from here

Print the all the feature values.

Output Format

feature1 feature2 feature3 feature4 feature5

feature1 feature2 feature3 feature4 feature5

feature1 feature2 feature3 feature4 feature5

feature1 feature2 feature3 feature4 feature5
. . .

In [38]:
df.head()

    sl   sw   pl   pw         name
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [39]:
a=df[(df.name =='virginica'and df.pl >1.5)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [40]:
c.head()

NameError: name 'c' is not defined

In [41]:
df

      sl   sw   pl   pw            name
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [42]:
c.columns = ['sl', 'sw', 'pl','pw','name']

NameError: name 'c' is not defined

In [43]:
c.head()

NameError: name 'c' is not defined

In [44]:
print(c[c.pl >1.5])

NameError: name 'c' is not defined

In [45]:
df.head()

    sl   sw   pl   pw         name
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [46]:
import pandas as pd
columns = ['sl','sw','pl','pw','flower_type']
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=columns)
iris = iris[iris.flower_type=='Iris-virginica']
iris = iris[iris.pl>1.5]
iris = iris.values
for row in iris :
    print(*row)

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

In [47]:
import pandas as pd
columns = ['sl','sw','pl','pw','flower_type']
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=columns)
iris = iris[iris.flower_type=='Iris-virginica']
iris = iris[iris.pl>1.5]
iris = iris.values
c= iris.drop('sl', axis =1)
c.head()

AttributeError: 'numpy.ndarray' object has no attribute 'drop'

In [ ]:
# Import pandas package
import pandas as pd

# create a dictionary with five fields each
data = {
	'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
	'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
	'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
	'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
	'E': ['E1', 'E2', 'E3', 'E4', 'E5']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# Remove column name 'A'
df.drop(['A','B'], axis=1)

Problem Statement

Find and print the minimum, maximum and average value of the feature for each kind of flower ?

Note: Get the dataset from here

Print the value with two decimal places.

Note: Order for flower is Iris-setosa, Iris-versicolor and Iris-virginica.

Output Format

minSL minSW minPL minPW Iris-setosa

maxSL maxSW maxPL maxPW Iris-setosa

avgSL avgSW avgPL avgPW Iris-setosa
. . .

In [ ]:
import pandas as pd
columns = ['sl','sw','pl','pw','flower_type']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=columns)
df.head()

In [ ]:
df

In [ ]:
df.flower_type.unique()

In [ ]:
a = df[df.flower_type == 'Iris-setosa']
b = data[data.flower_type == 'Iris-versicolor']
c = data[data.flowerype == 'Iris-virginica']

In [ ]:
df = data[data.flower_type == 'Iris-setosa']

print('%.2f'%min(df.sl),'%.2f'%min(df.sw),'%.2f'%min(df.pl),'%.2f'%min(df.sl),'%.2f'%min(df.pw))
print('%.2f'%max(df.sl),'%.2f'%max(df.sw),'%.2f'%max(df.pl),'%.2f'%max(df.sl),'%.2f'%max(df.pw))
print('%.2f'%min(df.sl),'%.2f'%min(df.sw),'%.2f'%min(df.pl),'%.2f'%min(df.sl),'%.2f'%min(df.pw))
print('%.2f'%(df.sl).mean(),'%.2f'%(df.sw).mean(),'%.2f'%(df.pl).mean(),'%.2f'%(df.sl).mean(),'%.2f'%(df.pw).mean())

df =data[data.flower_type == 'Iris-versicolor']

print('%.2f'%min(df.sl),'%.2f'%min(df.sw),'%.2f'%min(df.pl),'%.2f'%min(df.sl),'%.2f'%min(df.pw))
print('%.2f'%max(df.sl),'%.2f'%max(df.sw),'%.2f'%max(df.pl),'%.2f'%max(df.sl),'%.2f'%max(df.pw))
print('%.2f'%min(df.sl),'%.2f'%min(df.sw),'%.2f'%min(df.pl),'%.2f'%min(df.sl),'%.2f'%min(df.pw))
print('%.2f'%(df.sl).mean(),'%.2f'%(df.sw).mean(),'%.2f'%(df.pl).mean(),'%.2f'%(df.sl).mean(),'%.2f'%(df.pw).mean())

df = data[data.flowerype == 'Iris-virginica']

print('%.2f'%min(df.sl),'%.2f'%min(df.sw),'%.2f'%min(df.pl),'%.2f'%min(df.sl),'%.2f'%min(df.pw))
print('%.2f'%max(df.sl),'%.2f'%max(df.sw),'%.2f'%max(df.pl),'%.2f'%max(df.sl),'%.2f'%max(df.pw))
print('%.2f'%min(df.sl),'%.2f'%min(df.sw),'%.2f'%min(df.pl),'%.2f'%min(df.sl),'%.2f'%min(df.pw))
print('%.2f'%(df.sl).mean(),'%.2f'%(df.sw).mean(),'%.2f'%(df.pl).mean(),'%.2f'%(df.sl).mean(),'%.2f'%(df.pw).mean())

In [ ]:
import pandas as pd
columns = ['sl','sw','pl','pw','flower_type']
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=columns)


df = data[data.flower_type == 'Iris-setosa']
#print(df.iloc[0][4])

print('%.2f'%min(df.sl),'%.2f'%min(df.sw),'%.2f'%min(df.pl),,'%.2f'%min(df.pw),df.iloc[0][4])
print('%.2f'%max(df.sl),'%.2f'%max(df.sw),'%.2f'%mf.pw),df.iloc[0][4])
print('%.2f'%(df.sl).mean(),'%.2f'%(df.sw).mean(),'%.2f'%(df.sl).mean(),'%.2f'%(df.pw).mean(),df.iloc[0][4])

df =data[data.flower_type == 'Iris-versicolor']

print('%.2f'%min(df.sl),'%.2f'%min(df.sw),'%.2f'%min(df.pl),'%.2f'%min(df.pw),df.iloc[0][4])
print('%.2f'%max(df.sl),'%.2f'%max(df.sw),'%.2f'%mf.pw),df.iloc[0][4])
print('%.2f'%(df.sl).mean(),'%.2f'%(df.sw).mean(),'%.2f'%(df.sl).mean(),'%.2f'%(df.pw).mean(),df.iloc[0][4])

df = data[data.flower_type == 'Iris-virginica']

print('%.2f'%min(df.sl),'%.2f'%min(df.sw),'%.2f'%min(df.pl),'%.2f'%min(df.pw),df.iloc[0][4])
print('%.2f'%max(df.sl),'%.2f'%max(df.sw),'%.2f'%mf.pw),df.iloc[0][4])
print('%.2f'%(df.sl).mean(),'%.2f'%(df.sw).mean(),'%.2f'%(df.sl).mean(),'%.2f'%(df.pw).mean(),df.iloc[0][4])